/*
Theme Name: Spandiv
Author: Spandiv
Author URI: https://praseetyaa.github.io/portfolio/
Version: 0.1
Description: Tema khusus akuntansionline.net, dilarang mengubah tanpa izin! kontak praseetyaa@gmail.com untuk melakukan perubahan
*/
:root{
    --primary: #2559A5;
    --primary-s: #DBE6F7;
    --secondary: #F9520B;
    --secondary-s: #FFF3EE;
    --danger: #DC3545;
    --danger-s: #FAE3E5;
    --success: #28A745;
    --success-s: #CBF2D4;
    --info: #17A2B8;
    --info-s: #D9F6FA;
    --warning: #ffc107;
    --warning-s: #FFFBED;
    --shadow-s: 0 .125rem .25rem rgba(0,0,0,.075);
    --transition:  .25s ease;
}
/*primary*/
.btn-primary{color:var(--primary);background-color:var(--primary-s);border-color:var(--primary-s)}
.btn-primary:hover{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary)}
.btn-check:focus+.btn-primary,
.btn-primary:focus{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary);box-shadow:0 0 0 .25rem var(--primary-s)}
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary)}
.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .25rem var(--primary-s);}
.btn-primary.disabled,.btn-primary:disabled{color:var(--primary);background-color:var(--bs-white);border-color:var(--primary-s)}
/*secondary*/
.btn-secondary{color:var(--secondary);background-color:var(--secondary-s);border-color:var(--secondary-s)}
.btn-secondary:hover{color:var(--bs-white);background-color:var(--secondary);border-color:var(--secondary)}
.btn-check:focus+.btn-secondary,
.btn-secondary:focus{color:var(--bs-white);background-color:var(--secondary);border-color:var(--secondary);box-shadow:0 0 0 .25rem var(--secondary-s)}
.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle{color:var(--bs-white);background-color:var(--secondary);border-color:var(--secondary)}
.btn-check:active+.btn-secondary:focus,
.btn-check:checked+.btn-secondary:focus,
.btn-secondary.active:focus,
.btn-secondary:active:focus,
.show>.btn-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .25rem var(--secondary-s);}
.btn-secondary.disabled,.btn-secondary:disabled{color:var(--secondary);background-color:var(--bs-white);border-color:var(--secondary-s)}

.card{border: unset; box-shadow: var(--shadow-s)}
.filter-primary{filter: invert(26%) sepia(26%) saturate(3467%) hue-rotate(195deg) brightness(100%) contrast(90%)}
.text-primary{color: var(--primary)!important;}
.bg-primary{background-color: var(--primary)!important;}
.bg-primary-s{background-color: var(--primary-s)!important;}
.w-fit{width: fit-content!important;}
.h-fit{height: fit-content!important;}

.rounded-1{border-radius: .5em!important}
.rounded-2{border-radius: 1em!important}
.rounded-3{border-radius: 1.5em!important}
.rounded-4{border-radius: 2em!important}
.rounded-5{border-radius: 2.5em!important}
.transition{transition: .25s ease;}

.footer-link{color: var(--bs-white); border-bottom: 0; transition: .25s ease-in}
.footer-link:hover{color: var(--bs-white); text-decoration: underline!important;}
/*navbar*/
.navbar{transition: var(--transition);}
.navbar .navbar-brand img{height: 40px;}
.navbar .nav-link{font-weight: 500;}
.navbar.shrink{background: #fff; box-shadow: var(--shadow-s); position: sticky; top: 0; z-index: 10000; transition: var(--transition) ;}
.navbar.shrink .nav-link{color: rgba(0,0,0,.55);}
.navbar.shrink .nav-link:hover{color: rgba(0,0,0,.75);}
.navbar.shrink .nav-link:focus{color: rgba(0,0,0,.75);}
.navbar.shrink .nav-link.active{color: rgba(0,0,0,1);}
.navbar.shrink .nav-link.active:hover{color: rgba(0,0,0,1);}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{color: var(--primary);}
/*blog*/
.entry{word-wrap: break-word;}
.entry img{max-width: 100%; height: auto;}
/*comment*/

/*pagination*/
.pagination .page-item.active{z-index: 3; color: #fff; background-color: var(--primary); border-color: var(--primary);}
.pagination .page-link{color: var(--primary);}
.pagination .dots{color: var(--bs-body);}
.pagination .page-numbers:first-child{border-radius: .5rem 0 0 .5rem;}
.pagination .page-numbers:last-child{border-radius: 0 .5rem .5rem 0;}
/*section*/
.section-client .fa-check{background-color: var(--success-s); color: var(--success); border-radius: .25rem; padding: .25rem; margin-right: .5rem;}
.section-client .fa-times{background-color: var(--danger-s); color: var(--danger); border-radius: .25rem; padding: .25rem .425rem; margin-right: .5rem;}
.section-benefit{position:relative; top: -3rem;}
.section-blog{background: url("assets/images/background/hand-painted-watercolor-background-with-sky-clouds-shape-min.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover;}
.section-easy-start .fa-check{background-color: var(--success-s); color: var(--success); padding: .25rem .4rem .25rem .4rem; border-radius: .25rem; height: fit-content; animation: fab .5s infinite;}
/*cta divi*/
.custom-shape-divider-bottom-1623205536{bottom: 0;left: 0;width: 100%;overflow: hidden;line-height: 0;transform: rotate(180deg);}
.custom-shape-divider-bottom-1623205536 svg{position: relative; display: block; width: calc(100% + 1.3px); height: 100px;}
.custom-shape-divider-bottom-1623205536 .shape-fill{fill: var(--primary-s);}
/*footer divi*/
.custom-shape-divider-top-1623133865{top: 0;left: 0;width: 100%;overflow: hidden;line-height: 0;background-color: var(--bs-light); display: none;}
.custom-shape-divider-top-1623133865 svg{position: relative;display: block;width: calc(100% + 1.3px);height: 80px;}
.custom-shape-divider-top-1623133865 .shape-fill{fill: var(--primary);}
/*anim btn*/
.button{position: relative;}
.button:before,
.button:after {display: block; content: " "; border-top: none; border-right: none; border-bottom: none; border-left: none; position: absolute; width: 0; height: 0; opacity: 0; transition: opacity 200ms ease-in-out;}
.button:before{top: 0; left: 0;}
.button:after{bottom: 0;right: 0;}
.button.at:before{animation: animate 1s infinite ease; border-top: 2px solid var(--primary); border-left: 2px solid var(--primary); border-radius: .25rem;}
.button.at:after{animation: animate 1s infinite ease; border-bottom: 2px solid var(--primary); border-right: 2px solid var(--primary); border-radius: .25rem;}

.post-detail .single-thumbnail {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    border-radius: .25rem;
}
.wp-block-latest-posts img{margin-bottom: 1rem;}
.wp-block-categories{padding: 0;}
.wp-block-categories li{list-style: none;}
.wp-block-categories li:before{content: '\f054'; font-family: "Font Awesome 5 Pro"; margin-right: 1rem;}

@keyframes animate {
    0%{width: 0; height: 0; opacity: 0;}
    50%{width: 15.5rem; opacity: 1; height: 100%;}
    100%{width: 0; height: 0; opacity: 1;}
}
@keyframes opacito{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fab{
    0% {transform: scale(1);}
    25% {transform: scale(1);}
    50% {transform: scale(.9);}
    75% {transform: scale(1);}
    100% {transform: scale(1);}
}
@media (max-width: 768px) {
    .navbar{background-color: #fff}
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{color: rgba(0,0,0,.9);}
    .navbar-light .navbar-nav .nav-link{color: rgba(0,0,0,.55);}
    .navbar .navbar-brand{filter: unset;}
    .logo-tentang{max-width: 50%}
    .section-benefit{top: 0rem;}
}